# Binaries
/bin/
gorest
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# Models scaffolded from database schema
internal/api/models/*
!internal/api/models/.gitkeep

# API resources scaffolded from models
internal/api/resources/*
!internal/api/resources/.gitkeep


# API resources DTOs scaffolded from resources
internal/api/dtos/*
!internal/api/dtos/.gitkeep

# Custom business logic hooks
internal/hooks/*
!internal/hooks/.gitkeep
!internal/hooks/factory.go
!internal/hooks/hooks.go
